## Derleme çıktıları
bin/
obj/
out/

## Kullanıcıya özel dosyalar
*.user
*.suo
*.userosscache
*.sln.docstates

## VS Code
.vscode/

## Log dosyaları
*.log

## ASP.NET Core gizli yapılandırmalar
appsettings.Development.json
appsettings.Local.json
secrets.json^
appsettings.json

## Paket klasörleri
*.nupkg
packages/

## Veritabanı dosyaları
*.db
*.sqlite

## dotnet CLI
project.lock.json
project.fragment.lock.json

## Rider / JetBrains
.idea/

## Publish çıktısı
wwwroot/dist/
publish/
*.Publish.xml

## Diğer
.env
.env.*
