@{
    ViewData["Title"] = "Home Page";
}
@model ViewModel
<div class="text-center">
    @foreach ( var item in Model.Users!){
        <h1>@item.email</h1>

    }
    <h1 class="display-4"></h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
